torch==2.1.2
transformers>=4.38.1
bitsandbytes>=0.41.1
accelerate==0.27.2
langchain==0.1.9
pydantic==2.6.2
jsonschema==4.21.1
yfinance==0.2.36
pandas==2.2.0
ninja==1.11.1.1
flash-attn==2.5.5
protobuf
sentencepiece
art
